body{background:#000}

.pencil{height: 100px;

width:200px;
position: absolute;
top: 0;
bottom:150px;
left: 0;
right: 0;
margin: auto;
transform: rotate(120deg);
animation: move 6s linear infinite;
}

@keyframes move{
    0%{
        transform: rotate(120deg);
        left:0;
        bottom: 150;
    }

    5%{
        transform: rotate(120deg);
        left:0;
        bottom: 150;
    }
    20%{
        transform: rotate(300deg);
        left:150px;
        bottom: 210px;
    }

    50%{
        transform: rotate(300deg);
        left:250px;
        bottom: 210px;
    }
    70%{
        transform: rotate(480deg);
        left:160px;
        bottom: 150px;
    }
    100%{
        transform: rotate(480deg);
        left:0px;
        bottom: 150px;
    }
}

@keyframes draw{
    0%{
        width:0;
    }

    5%{
        width:0;
    }
    20%{
        width:0;
    }
    25%{width:0;}
    50%{
        width:200px;
        right:50px;
        bottom: 250;
    }
    70%{
        width:200px;
        right:50px;
        bottom: 250; 
    }
    100%{
        width:0px;
    }
}

.pbody{
    height:35px;
    width:130px;
    background-color:#39FF14; 
}
.eraser{
    position: absolute;
    height:35px;
    width: 30px;
    left:130px;
    top:0px;
    background-color: #1A1A1A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pbody:before{
    content: '';
    position: absolute;
    left:-80px;
    top:0;
    border-style:solid;
    border-color:transparent #1A1A1A transparent transparent;
    border-width: 17px 40px 18px;
}
.pbody:after{
    content: '';
    position: absolute;
    top:0;
    left: -80px;
    border-style:solid;
    border-color:transparent #39FF14 transparent transparent;
    border-width: 17px 40px 18px;
    transform: scale(.3);
}


.line{
    width:0px;
    height: 4px;
    background:#39FF14;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    animation:draw 6s linear infinite;
}
.text{
    height:50px;
    width:100%;
    position: absolute;
    top:100px;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    color:white;
    font-size: 20px;
}


.yt{
    position:absolute ;
    top:80%;
    height:100px;
    width:100%;
    background:#39FF14;
    color:white;
    text-align:center;
    font-size:30px;
    line-height:80px;
    text-decoration:none;
}